/* first mobil*/

h1, h2
{
	color: #760001;
}

h3
{
	color: grey;
}

p
{
	font-size: 20px;
	color: grey;
}

.jumbotron
{
	background: url("../images/moto2.png")no-repeat;
	height: auto;
	background-color: white !important;
	
}

.jumbotron
{
	margin-top: 50px !important;
}

.titre2
{
	display: none;
}

.btn-group-lg > .btn, .btn-lg {
    margin-top: 50px !important;
}

i.wi
{
	font-size: 3em;
	line-height: 90px;
	color: #760001;
}

.error
{
	color: red;
	text-align: center;
	width: 50%;
	font-size: 15px;
}

.encart
{
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	background-color: lightgrey;
	border-radius: 5px;
	width: 60%;
}

@media only screen and (min-width: 414px) /*iphone*/

{
	.jumbotron
	{
		background: url("../images/moto4.png")no-repeat;
		height: auto;
	}
}

@media only screen and (min-width: 568px) /*tablette*/

{
	.jumbotron
	{
		background: url("../images/moto3.png")no-repeat;
		background-size: cover;
		
	}

	.titre1
	{
		font-size: 30px;
	}

	.titre2
	{
		display: initial;
		font-size: 17px;

	}
}

@media only screen and (min-width: 1020px ) /*large*/
{
	.jumbotron
	{
		height: 672px;

	}
}


@media only screen and (min-width: 1100px ) /*desktop*/
{

	.jumbotron
	{
		background: url("../images/moto.jpg")no-repeat;
		background-size: cover;
	
		
	}

	#bonjSession
	{
		font-size: 18px;
		color: #760001;
	}

	.titre2
	{
		font-size: 25px;
		margin-left: -150px;
	}

	

	.improfil
	{
		width: 30%;
		border: 1px solid #181818;
		border-radius: 10%;
	}

	i.wi
	{
		font-size: 5em;
		line-height: 115px;
		color: #760001;
	}
	
	#ville
	{
		border: 1px solid #760001;
		border-radius: 5px;
	}

	.error
	{
		font-size: 18px;
		border: 1px solid red;
		border-radius: 5px;
	}

	#meteo
	{
		float: left;
		width: 50%;
		left: 2px;
		height: 500px;
	}

	#profil
	{
		float: right;
		width: 50%;
		right: 2px;
		margin-top: 60px;
		height: 500px;
	}
}