/* first mobil*/

h1, h2
{
	color: #760001;
}

h3
{
	color: grey;
}

p
{
	font-size: 20px;
	color: grey;
}

.jumbotron
{
	background: url("../images/moto2.png")no-repeat;
	height: 250px;
}

.titre1
{
	font-size: 17px;
}

.titre2
{
	display: none;
}

i.wi
{
	font-size: 3em;
	line-height: 90px;
	color: #760001;
}

.error
{
	color: red;
	text-align: center;
	width: 50%;
	font-size: 15px;
}

.encart
{
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	background-color: lightgrey;
	border-radius: 5px;
	width: 60%;
}

@media only screen and (min-width: 700px) /*tablette*/

{
	.jumbotron
	{
		background: url("../images/moto3.png")no-repeat;
		height: 478px;
	}

	.titre1
	{
		font-size: 30px;
	}

	.titre2
	{
		display: initial;
		font-size: 17px;
	}
}

@media only screen and (min-width: 1100px ) /*desktop*/
{
	#bonjSession
	{
		font-size: 18px;
		color: #760001;
	}

	.jumbotron
	{
		background: url("../images/moto.jpg")no-repeat;
		background-size: cover;
		height: 672px;
	}

	.titre1
	{
		margin-left: -100px;
		font-size: 40px;
	}

	.titre2
	{
		font-size: 25px;
		margin-left: -150px;
	}

	.btn-group-lg > .btn, .btn-lg
	{
		margin-top: 160px;
	}

	.improfil
	{
		width: 30%;
		border: 1px solid #181818;
		border-radius: 10%;
	}

	i.wi
	{
		font-size: 5em;
		line-height: 115px;
		color: #760001;
	}
	
	#ville
	{
		border: 1px solid #760001;
		border-radius: 5px;
	}

	.error
	{
		font-size: 18px;
		border: 1px solid red;
		border-radius: 5px;
	}

	#meteo
	{
		float: left;
		width: 50%;
		left: 2px;
		height: 500px;
	}

	#profil
	{
		float: right;
		width: 50%;
		right: 2px;
		margin-top: 60px;
		height: 500px;
	}
}