h1, h2{
	color: #760001;
}
h3{
	color: grey;
}
p{
	font-size: 20px;
	color: grey;
}

#bonjSession{
	font-size: 18px;
	color: #760001;
}

.jumbotron{
	background: url("../images/moto.jpg")no-repeat;
	 background-size: cover;
	 height: 672px;

}

.titre{
	    margin-left: -100px;
	
}

.btn-group-lg > .btn, .btn-lg{
	margin-top: 160px;
}

.vuChapComment{
	margin-top: 250px;
}

.improfil{
 		
 	 width: 30%;
	 border: 1px solid #181818;
	 border-radius: 10%;
}

i.wi {
	font-size: 5em;
	line-height: 115px;
	color: #760001;
}

.vuChapComment{
	margin-top: 15px;

}
#ville{
	border: 1px solid #760001;
	border-radius: 5px;
}

.error{
	color: red;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
	width: 50%;
}

#meteo{

	float: left;
	width: 50%;
	left: 2px;
	height: 500px;
}

#profil{
	float: right;
	width: 50%;
	right: 2px;
	margin-top: 60px;
	height: 500px;
}


